.icon-star {
    background: url(../assets/icons/icon-star-yellow-big.svg) no-repeat center center;
    background-size: auto 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
  }