@mixin display-align-center {
  display: flex;
  align-items: center;
}

@mixin display-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin display-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-inline-justify-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin display-justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin display-justify-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin display-align-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@mixin transition {
  transition: 0.3s;
}
@mixin btn-blue {
  color: $white-FF;
  background: $gradient-01;
  border-radius: 12px;
  border: 1px solid $white-FF;
  height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
  &:hover{
      transition: 0.2s;
  }
}
@mixin heading1 {
  color: $black-000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
@mixin heading3 {
  color: $black-000;
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
}
@mixin heading2 {
  font-size: 20px;
  line-height: 25px;
  color: $white-FF;
  text-transform: uppercase;
}
@mixin description1 {
  color: $black-000;
  font-size: 25px;
  line-height: 35px;
}
@mixin description2 {
  color: $black-000;
  font-size: 20px;
  line-height: 30px;
}

@mixin button-primary {
  min-width: 100px;
  padding: 5px 25px;
  color: $white-FF;
  font-size: 20px;
  background: $green-9D;
  border: 1px solid $green-9D;
  transition: 0.3s;
  &:hover{
    background: $white-FF;
    color: $green-9D;
    transition: 0.3s;
  }
}
@mixin max-line-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}