@import "./reset";
@import "./variables";
@import "./mixins";
@import "./icons";
@import "./header";
@import "./home";
@import "./productDetails";
@import "./admin";
@import './login';
@import "./cart";


* { margin:0; padding:0; box-sizing:border-box; }
html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  position: relative;
  padding: 0;
  margin: 0;
}

ul, li{
  list-style: none;
}

.container-fluid {
  max-width: 1850px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1280px){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-medium {
  max-width: 1850px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1280px){
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: $default-font;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $default-font;
  font-weight: 500;
}
a {
  color: $black-222;
  text-decoration: none;
  outline: 0;
  &:hover {
    text-decoration: none;
  }
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
strong {
  font-weight: bold;
}

textarea {
  resize: none;
}

input{
  outline: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.error_img{
  height: 85vh;
  @include display-justify-center;
  flex-direction: column;
  a{
    background: $green-9D;
    border: 1px solid $green-9D;
    @include display-justify-center;
    padding: 10px 20px;
    color: $white-FF;
    font-size: 18px;
    transition: 0.3s;
    &:hover{
      color: $green-9D;
      border: 1px solid $green-9D;
      transition: 0.3s;
      background: transparent;
    }
  }
}